@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin: 0 !important;
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
}

.bodyClass {
    margin: 8px !important;
}

#jeffrey_kozik {
  font-family: 'Rubik', sans-serif !important;
  text-align: center;
  margin-bottom: 0 !important;
  /* max-width: 360px; */
}

.projects_container{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;
    font-family: 'Rubik', sans-serif;*/
    justify-content: center;
}

.select_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem !important;
}

.tagDiv{
    display: flex;
    overflow-x: scroll;
    margin-bottom: -10% !important;
}

.portfolio_link{
    margin-right: 1%
}

.mobile_portfolio_link{
    margin-right: 1%
}

.tagStyling{
    margin-right: 2%;
    border-radius: 10%;
    background-color: lightgray;
    white-space: nowrap;
}

/* .homepage_container{
    display: flex;
    flex-wrap:
} */

#rubikFont1{
    font-family: 'Rubik', sans-serif !important;
}

#rubikFont2{
    font-family: 'Rubik', sans-serif !important;
}

#rubikFont3{
    font-family: 'Rubik', sans-serif !important;
}
