#one_world_table_container{
    overflow-x: auto;
    margin-right: auto;
    margin-left: auto;
}

#one_world_table{
    align-self: center;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    overflow-x: auto !important;
}

#one_world_add_row_button{
    align-self: center;
    width: 100%;
}

#one_world_offset_row_button{
    align-self: center;
    width: 100%;
}

.one_world_nameTable{
    width: 11%;
}
.one_world_costTable{
    width: 11%;
}
.one_world_submit{
    width: 6%;
}
.one_world_consumptionTable{
    width: 22%;
}
.one_world_supplychainTable{
    width: 22%;
}
.one_world_CO2Table{
    width: 11%;
}
.one_world_offsetcostTable{
    width: 11%;
}
.one_world_deleteTable{
    width: 6%;
}

#one_world_delete_row_button{
    /* width: 50%;
    height: 50%; */
}

.one_world_select{
    z-index: 1;
}
