@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page_container{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

.page_title {
  align-self: flex-start;
  margin-bottom: 0;
}

.page_subtitle {
    align-self: flex-start;
    color: grey;
    margin-bottom: 3%;
    margin-top: 1.5%;
}

.page_video{
    align-self: center;
    margin-bottom: 3%;
    margin-top: 0;
    max-height: 50vh;
    max-width: 100%;
}

.page_videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.page_videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.page_description{
    align-self: center;
    line-height: 1.8;
    width: 100%;
}

/* @media (min-width: 820) {
    .page_container{
        margin-left: 25% !important;
        margin-right: 25% !important;
    }
} */

/* ipad and smaller */
/* @media (max-width: 820) {
    .page_container{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
} */
